<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="name" />
      <input type="color" v-model="color" />

      <greeting-component name="전선영" color="skyblue"></greeting-component>
      <greeting-component :name="name" :color="color"></greeting-component>
    </div>

    <template id="GreetingTemplate">
      <div :style="{color:color}">meme{{name}}</div>
    </template>
    <script>
      Vue.component("GreetingComponent", {
        template: "#GreetingTemplate",
        props: ["name", "color"],
      });

      new Vue({
        el: "#app",
        data() {
          return {
            name: "ddsd",
            color: "#0000ff",
          };
        },
      });
    </script>
  </body>
</html>
